/*------------- #VARIABLES --------------*/
/*------------- #PRIMARY-COLOR --------------*/
a:hover,
.post__content ul ol ul li::before,
.first-letter--primary span:first-of-type,
.list--primary a:hover,
.list--primary i,
.crumina-accordion .panel-heading.active .accordion-heading i,
.crumina-accordion .panel-heading.active a,
.crumina-accordion .panel-heading:hover .accordion-heading,
.crumina-accordion .panel-heading:hover .accordion-heading i,
.c-primary,
.woocommerce-info:before,
.btn--primary.btn-border,
.btn--primary.btn-border:hover,
.btn--breez.btn-border,
.btn--breez.btn-border:hover,
.info-box.info-box--standard-bg .info-box-image i,
.info-box.info-box--modern:hover .read-more,
.info-box.info-box--modern:hover .read-more i,
.info-box.info-box--standard-hover:hover .info-box-title,
.info-box.info-box--standard-hover:hover .read-more,
input.input-standard-grey:focus,
textarea.input-standard-grey:focus,
.navigation .page-numbers:hover,
.navigation .page-numbers.current,
.pagination-arrow .btn-prev-wrap:hover .btn-content .btn-content-title,
.pagination-arrow .all-project:hover i,
.pagination-arrow .btn-next-wrap:hover .btn-content .btn-content-title,
.kc-tweet-owl .owl-controls.clickable .owl-buttons .owl-prev:hover:before,
.kc-tweet-owl .owl-controls.clickable .owl-buttons .owl-next:hover:after,
.load-more:hover .load-more-text,
.cart-popup-wrap .cart-total .cart-total-text .total-price,
.post .post__content .post__title:hover,
.post .post__author .post__author-name .post__author-link:hover,
.post-standard .post-thumb .link-image:hover,
.post-standard .post-thumb .link-post:hover,
.post-standard .post__content .post__content-info .post-additional-info .category a:hover,
.post-standard-details .post__content .post-additional-info .post__comments a:hover,
.post-standard-details .post__content .post-additional-info .post__comments a:hover i,
.post-standard .post__content .post__content-info .post-additional-info .post__comments a:hover,
.post-standard.quote .post-thumb .testimonial-content .author-info-wrap .author-info .author-name,
.post-standard.audio .post-thumb .audio-player .composition-time .time-over,
.post-standard-details .post__content .post-additional-info .category a:hover,
.post-standard-details .post__content .post-additional-info .post__comments:hover,
.ui-tabs .kc_tabs_nav > .ui-tabs-active a,
.ui-tabs .kc_tabs_nav > .ui-tabs-active a:hover,
.stunning-header .stunning-header-content .breadcrumbs .breadcrumbs-item.active span.c-primary,
.testimonial-item.testimonial-author-top .author-name,
.testimonial-item.testimonial-author-centered .author-name,
.testimonial-item.testimonial-author-centered-round .author-name,
.woocommerce .woocommerce-shipping-fields textarea:focus,
.woocommerce .woocommerce-billing-fields textarea:focus,
.comments .comment-list .comments__item .comment-reply-link:hover,
.commentlist .comment-list .comments__item .comment-reply-link:hover,
.contact-form .checked-icon:after,
.remember-wrap .checkbox.gray input[type=checkbox]:checked + label:before,
.contacts .contacts-item .content .title:hover,
.features-item:hover a,
.features-item:hover .read-more,
.features-item a:hover,
.features-item .read-more:hover,
.footer a:hover,
.header nav .menu .menu-item:hover > a,
.header nav .menu .menu-item:hover > a + i,
.nav-add li.search i:hover,
.crumina-heading .heading-decoration,
.crumina-heading .read-more:hover,
.right-menu .contacts .contacts-item .content a:hover,
.crumina-pie-chart-item .pie-chart-content a:hover,
.crumina-pie-chart-item .pie-chart-content a:hover i,
.crumina-pricing-tables-item:hover .pricing-title,
.crumina-pricing-tables-item .rate,
.primary-menu-menu > li.active > a,
.primary-menu-menu > li:hover > a,
.primary-menu-menu > li:hover > i,
.primary-menu-menu ul.sub-menu a:hover > i,
.primary-menu-menu > li.menu-item-has-mega-menu .megamenu ul > li a:hover i,
.primary-menu-menu > li.menu-item-has-mega-menu .megamenu ul > li > ul > li:hover a,
.primary-menu-menu > li.menu-item-has-mega-menu .megamenu ul > li a:hover,
.primary-menu-menu ul.sub-menu li:hover > a,
.primary-menu-menu li ul.sub-menu li:hover > a .indicator,
.primary-menu-menu > li:hover > a > .indicator,
.product-details .product-details-info .woocommerce-review-link,
.product-details .product-details-add-info .author .author-name,
.product-details .product-details-add-info .tags .tags-item:hover,
.product-description .product-description-control li.active .control-item,
.crum-icon-module i,
.cat-list .cat-list__item a:hover,
.cat-list .cat-list__item.active a,
.shop-user-form .item-title.active,
.shop-user-form .helped,
.cd-horizontal-timeline .events a.selected,
.cd-horizontal-timeline .events a.older-event,
.no-touch .cd-timeline-navigation a:hover:before,
#site-footer .contacts-item .content .title:hover,
.w-post-category .category-post-item a i,
.w-post-category .category-post-item:hover a,
.widget_nav_menu .menu li a:hover,
.widget_nav_menu .menu li a:hover:before,
.top-bar .nice-select,
.top-bar .nice-select span,
.top-bar a:hover,
.top-bar .nice-select .option:hover,
#site-footer .contacts-item .content .title:hover,
.comments .comment-list .comments__item .comments__article .comments__header .comments__author a:hover,
.commentlist .comment-list .comments__item .comments__article .comments__header .comments__author a:hover,
.btn.c-primary:hover,
.primary-menu-menu > li.has-megamenu .megamenu ul > li:hover i.seoicon-right-arrow,
.primary-menu-menu > li.has-megamenu .megamenu ul > li:hover a {
  color: #4cc2c0; }

.back-to-top:hover,
.pagination-arrow .btn-prev-wrap:hover .btn-prev,
.pagination-arrow .btn-next-wrap:hover .btn-next,
.btn-next:hover,
.btn-next .btn-next-gray:hover,
.btn-prev:hover,
.btn-prev .btn-prev-gray:hover {
  fill: #4cc2c0; }

.first-letter--squared span:first-of-type,
.woocommerce a.button.wc-backward,
.btn--primary,
.btn--breez,
.kc-tweet-owl .owl-controls.clickable .owl-buttons .owl-prev:hover,
.kc-tweet-owl .owl-controls.clickable .owl-buttons .owl-next:hover,
.post-standard .post__content .post__content-info .btn:hover,
.ui-tabs .kc_tabs_nav > li > a:before,
.cart-main .actions .coupon .btn-medium.btn--breez,
.cart_item .product-quantity .quantity .quantity-minus:hover,
.cart_item .product-quantity .quantity .quantity-plus:hover,
.woocommerce .checkout_coupon.coupon input.btn--breez,
.client-item-style2:hover,
.remember-wrap .checkbox label:before,
.header nav .menu .menu-item > a:after,
.header nav .menu .menu-item > a:before,
.nav-add li.cart .cart-count,
.woocommerce-checkout-review-order-table .cart_item.total,
.overlay_search .form_search-wrap form .overlay_search-input:focus + .overlay_search-close span,
.right-menu .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_draggerRail,
.primary-menu-menu ul.sub-menu.sub-menu-has-icons li a:before,
.product-description .product-description-control li .control-item:before,
.crumina-case-item:hover,
.cat-list-bg-style .cat-list__item a:hover,
.cat-list-bg-style .cat-list__item.active,
.shop-user-form .login-btn-wrap .remember-wrap .checkbox label:before,
.woocommerce .product-item a.added_to_cart,
.cd-horizontal-timeline .filling-line,
.no-touch .cd-horizontal-timeline .events a:hover::after,
.cd-horizontal-timeline .events a.selected::after,
.tags-wrap a:hover,
.widget.w-login .remember-wrap .checkbox label:before,
.post-edit-link,
.subscribe-section,
.info-box--standard-centered .btn:hover,
div:hover > .btn-reverse-bg-color-primary,
.servises-item-reverse-color:hover,
.submit-wrap button,
.right-menu .ps > .ps__scrollbar-y-rail > .ps__scrollbar-y {
  background-color: #4cc2c0; }

.selection--primary::-moz-selection {
  background-color: #4cc2c0; }

.selection--primary::selection {
  background-color: #4cc2c0; }

.c-primary .semicircle:after,
.btn--primary.btn-border .semicircle::after,
.btn--primary.btn-border,
.btn--breez.btn-border,
.btn--breez.btn-border .semicircle::after,
.navigation .page-numbers.current,
.cart_item .product-quantity .quantity .quantity-minus:hover,
.cart_item .product-quantity .quantity .quantity-plus:hover,
.no-touch .cd-horizontal-timeline .events a:hover::after,
.cd-horizontal-timeline .events a.selected::after,
.cd-horizontal-timeline .events a.older-event::after,
.no-touch .cd-timeline-navigation a:hover,
#site-footer .widget.w-tags .tags-wrap a:hover,
.tags-wrap a:hover,
.widget_product_tag_cloud .tagcloud a:hover,
.product-details .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active,
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active,
.swiper-pagination.light .swiper-pagination-bullet.swiper-pagination-bullet-active,
.swiper-pagination.grey .swiper-pagination-bullet.swiper-pagination-bullet-active,
.kc-tweet-owl .owl-controls.clickable .owl-pagination .owl-page.active span,
.top-bar a:hover {
  border-color: #4cc2c0; }

.woocommerce-info,
.woocommerce-message,
.woocommerce-checkout-review-order-table .cart_item.total .product-thumbnail:after,
.primary-menu-menu > li > a:before,
.primary-menu-menu > li > a:after,
.cat-list .cat-list__item a:before,
.cat-list .cat-list__item a:after {
  border-top-color: #4cc2c0; }

.overlay_search .form_search-wrap form .overlay_search-input:focus {
  border-bottom-color: #4cc2c0; }

/*------------- #SECONDARY-COLOR --------------*/
.product-description ul li:before,
.post__content ul li:before,
.list--secondary a:hover,
.list--secondary i,
.btn--secondary.btn-border,
.btn--secondary.btn-border:hover,
.crumina-info-box .info-box-image i,
.cart-popup-wrap .popup-cart .cart-product .cart-product__item .product-del,
.contact-form label sup,
.nav-add li.search .popup-search .search-btn i:hover,
.woocommerce #content .price {
  color: #f15b26; }

.btn--secondary,
.btn--secondary.btn-hover-shadow:hover,
.user-menu .user-menu-content,
.right-menu .right-menu-wrap .user-menu-close .user-menu-content,
ul.products .product-item .onsale,
.woocommerce.single #primary .onsale,
div:hover > .btn-reverse-bg-color-secondary {
  background-color: #f15b26; }

.btn--secondary.btn-border,
.btn--secondary.btn-border .semicircle::after {
  border-color: #f15b26; }
