#navigation-ae782525-d755-69ae-267e-93519e9dec3e {
	text-align: left;
}.rtl #navigation-ae782525-d755-69ae-267e-93519e9dec3e {
	text-align: right;
}#navigation-ae782525-d755-69ae-267e-93519e9dec3e li > a {
			
			
		}
		#navigation-ae782525-d755-69ae-267e-93519e9dec3e li {
			margin: 0px 0px 0px 0px;
		}
		#navigation-ae782525-d755-69ae-267e-93519e9dec3e li > a {
			font-weight: normal;
			font-style: normal;
			text-decoration: underline;
			padding: 6px 10px 7px 10px;
			border: solid #000000;
			border-width: 0px;
			border-radius: 0;
			box-shadow: none;
		}
		#navigation-ae782525-d755-69ae-267e-93519e9dec3e ul li {
			margin: 0px 0px 0px 0px;
		}
		#navigation-ae782525-d755-69ae-267e-93519e9dec3e ul li > a {
			font-weight: normal;
			font-style: normal;
			text-decoration: underline;
			padding: 6px 10px 7px 10px;
			border: solid #000000;
			border-width: 0px;
			border-radius: 0;
			box-shadow: none;
		}
		#navigation-ae782525-d755-69ae-267e-93519e9dec3e li.selected,
		#navigation-ae782525-d755-69ae-267e-93519e9dec3e li.childselected,
		#navigation-ae782525-d755-69ae-267e-93519e9dec3e li.selected:hover,
		#navigation-ae782525-d755-69ae-267e-93519e9dec3e li.childselected:hover,
		#navigation-ae782525-d755-69ae-267e-93519e9dec3e li:hover {
			margin: 0px 0px 0px 0px;
		}
		#navigation-ae782525-d755-69ae-267e-93519e9dec3e li.selected > a,
		#navigation-ae782525-d755-69ae-267e-93519e9dec3e li.childselected > a,
		#navigation-ae782525-d755-69ae-267e-93519e9dec3e li.selected:hover > a,
		#navigation-ae782525-d755-69ae-267e-93519e9dec3e li.childselected:hover > a,
		#navigation-ae782525-d755-69ae-267e-93519e9dec3e li:hover > a {
			padding: 6px 10px 7px 10px;
			border: solid #000000;
			border-width: 0px;
			border-radius: 0;
			box-shadow: none;
		}
		#navigation-ae782525-d755-69ae-267e-93519e9dec3e ul li.selected,
		#navigation-ae782525-d755-69ae-267e-93519e9dec3e ul li.childselected,
		#navigation-ae782525-d755-69ae-267e-93519e9dec3e ul li.selected:hover,
		#navigation-ae782525-d755-69ae-267e-93519e9dec3e ul li.childselected:hover,
		#navigation-ae782525-d755-69ae-267e-93519e9dec3e ul li:hover {
			margin: 0px 0px 0px 0px;
		}
		#navigation-ae782525-d755-69ae-267e-93519e9dec3e ul li.selected > a,
		#navigation-ae782525-d755-69ae-267e-93519e9dec3e ul li.childselected > a,
		#navigation-ae782525-d755-69ae-267e-93519e9dec3e ul li.selected:hover > a,
		#navigation-ae782525-d755-69ae-267e-93519e9dec3e ul li.childselected:hover > a,
		#navigation-ae782525-d755-69ae-267e-93519e9dec3e ul li:hover > a {
			padding: 6px 10px 7px 10px;
		}

		#navigation-ae782525-d755-69ae-267e-93519e9dec3e > li.normal > a { color: #000000;}
		#navigation-ae782525-d755-69ae-267e-93519e9dec3e > li.normal > a { background-color: transparent; } #navigation-ae782525-d755-69ae-267e-93519e9dec3e > li.normal > a { background-image: none; }
		#navigation-ae782525-d755-69ae-267e-93519e9dec3e li.selected > a, #navigation-ae782525-d755-69ae-267e-93519e9dec3e li.childselected > a { color: #000000; }
		#navigation-ae782525-d755-69ae-267e-93519e9dec3e ul > li.normal > a { color: #000000; }#navigation-ae782525-d755-69ae-267e-93519e9dec3e ul > li.normal > a { background-image: none; }
		#navigation-ae782525-d755-69ae-267e-93519e9dec3e ul > li.normal > a { background-color: #FFFFFF; }
		#navigation-ae782525-d755-69ae-267e-93519e9dec3e li.selected > a, #navigation-ae782525-d755-69ae-267e-93519e9dec3e li.childselected > a, #navigation-ae782525-d755-69ae-267e-93519e9dec3e ul > li.childselected > a { background-color: #FFFFFF; }
		#navigation-ae782525-d755-69ae-267e-93519e9dec3e li.normal:hover > a { color: #000000; }
		#navigation-ae782525-d755-69ae-267e-93519e9dec3e li.normal:hover > a { background-color: #FFFFFF; } #navigation-ae782525-d755-69ae-267e-93519e9dec3e li.selected > a, #navigation-ae782525-d755-69ae-267e-93519e9dec3e li.childselected > a, #navigation-ae782525-d755-69ae-267e-93519e9dec3e li.normal:hover > a { background-image: none; }
		.mobile-view #navigation-ae782525-d755-69ae-267e-93519e9dec3e li.selected > a,
		.mobile-view #navigation-ae782525-d755-69ae-267e-93519e9dec3e li.childselected > a { color: #000000; }.mobile-view #navigation-ae782525-d755-69ae-267e-93519e9dec3e li.selected > a,
		.mobile-view #navigation-ae782525-d755-69ae-267e-93519e9dec3e li.childselected > a { background-color: transparent; }.mobile-view #navigation-ae782525-d755-69ae-267e-93519e9dec3e li:hover > a { color: #000000; }.mobile-view #navigation-ae782525-d755-69ae-267e-93519e9dec3e li:hover > a { background-color: transparent; }.mobile-view #navigation-ae782525-d755-69ae-267e-93519e9dec3e ul > li > a { color: #000000; }.mobile-view #navigation-ae782525-d755-69ae-267e-93519e9dec3e ul > li > a { background-color: transparent; }