#navigation-9f463169-db75-53f8-5dcc-4d5999a5c45f {
	text-align: center;
}#navigation-9f463169-db75-53f8-5dcc-4d5999a5c45f li > a {
			
			font-size: 20px;
		}
		#navigation-9f463169-db75-53f8-5dcc-4d5999a5c45f li {
			margin: 0px 0px 0px 0px;
		}
		#navigation-9f463169-db75-53f8-5dcc-4d5999a5c45f li > a {
			font-weight: normal;
			font-style: normal;
			text-decoration: none;
			padding: 6px 10px 7px 10px;
			border: solid #000000;
			border-width: 0px;
			border-radius: 0;
			box-shadow: none;
		}
		#navigation-9f463169-db75-53f8-5dcc-4d5999a5c45f ul li {
			margin: 0px 0px 0px 0px;
		}
		#navigation-9f463169-db75-53f8-5dcc-4d5999a5c45f ul li > a {
			font-weight: normal;
			font-style: normal;
			text-decoration: none;
			padding: 6px 10px 7px 10px;
			border: solid #000000;
			border-width: 0px;
			border-radius: 0;
			box-shadow: none;
		}
		#navigation-9f463169-db75-53f8-5dcc-4d5999a5c45f li.selected,
		#navigation-9f463169-db75-53f8-5dcc-4d5999a5c45f li.childselected,
		#navigation-9f463169-db75-53f8-5dcc-4d5999a5c45f li.selected:hover,
		#navigation-9f463169-db75-53f8-5dcc-4d5999a5c45f li.childselected:hover,
		#navigation-9f463169-db75-53f8-5dcc-4d5999a5c45f li:hover {
			margin: 0px 0px 0px 0px;
		}
		#navigation-9f463169-db75-53f8-5dcc-4d5999a5c45f li.selected > a,
		#navigation-9f463169-db75-53f8-5dcc-4d5999a5c45f li.childselected > a,
		#navigation-9f463169-db75-53f8-5dcc-4d5999a5c45f li.selected:hover > a,
		#navigation-9f463169-db75-53f8-5dcc-4d5999a5c45f li.childselected:hover > a,
		#navigation-9f463169-db75-53f8-5dcc-4d5999a5c45f li:hover > a {
			padding: 6px 10px 7px 10px;
			border: solid #000000;
			border-width: 0px;
			border-radius: 0;
			box-shadow: none;
		}
		#navigation-9f463169-db75-53f8-5dcc-4d5999a5c45f ul li.selected,
		#navigation-9f463169-db75-53f8-5dcc-4d5999a5c45f ul li.childselected,
		#navigation-9f463169-db75-53f8-5dcc-4d5999a5c45f ul li.selected:hover,
		#navigation-9f463169-db75-53f8-5dcc-4d5999a5c45f ul li.childselected:hover,
		#navigation-9f463169-db75-53f8-5dcc-4d5999a5c45f ul li:hover {
			margin: 0px 0px 0px 0px;
		}
		#navigation-9f463169-db75-53f8-5dcc-4d5999a5c45f ul li.selected > a,
		#navigation-9f463169-db75-53f8-5dcc-4d5999a5c45f ul li.childselected > a,
		#navigation-9f463169-db75-53f8-5dcc-4d5999a5c45f ul li.selected:hover > a,
		#navigation-9f463169-db75-53f8-5dcc-4d5999a5c45f ul li.childselected:hover > a,
		#navigation-9f463169-db75-53f8-5dcc-4d5999a5c45f ul li:hover > a {
			padding: 6px 10px 7px 10px;
		}

		#navigation-9f463169-db75-53f8-5dcc-4d5999a5c45f > li.normal > a { color: #f3f2f0;}
		#navigation-9f463169-db75-53f8-5dcc-4d5999a5c45f > li.normal > a { background-color: transparent; } #navigation-9f463169-db75-53f8-5dcc-4d5999a5c45f > li.normal > a { background-image: none; }
		#navigation-9f463169-db75-53f8-5dcc-4d5999a5c45f li.selected > a, #navigation-9f463169-db75-53f8-5dcc-4d5999a5c45f li.childselected > a { color: #000000; }
		#navigation-9f463169-db75-53f8-5dcc-4d5999a5c45f ul > li.normal > a { color: #000000; }#navigation-9f463169-db75-53f8-5dcc-4d5999a5c45f ul > li.normal > a { background-image: none; }
		#navigation-9f463169-db75-53f8-5dcc-4d5999a5c45f ul > li.normal > a { background-color: #F66A6A; }
		#navigation-9f463169-db75-53f8-5dcc-4d5999a5c45f li.selected > a, #navigation-9f463169-db75-53f8-5dcc-4d5999a5c45f li.childselected > a, #navigation-9f463169-db75-53f8-5dcc-4d5999a5c45f ul > li.childselected > a { background-color: #FFE670; }
		#navigation-9f463169-db75-53f8-5dcc-4d5999a5c45f li.normal:hover > a { color: #000000; }
		#navigation-9f463169-db75-53f8-5dcc-4d5999a5c45f li.normal:hover > a { background-color: #FFE670; } #navigation-9f463169-db75-53f8-5dcc-4d5999a5c45f li.selected > a, #navigation-9f463169-db75-53f8-5dcc-4d5999a5c45f li.childselected > a, #navigation-9f463169-db75-53f8-5dcc-4d5999a5c45f li.normal:hover > a { background-image: none; }
		.mobile-view #navigation-9f463169-db75-53f8-5dcc-4d5999a5c45f li.selected > a,
		.mobile-view #navigation-9f463169-db75-53f8-5dcc-4d5999a5c45f li.childselected > a { color: #000000; }.mobile-view #navigation-9f463169-db75-53f8-5dcc-4d5999a5c45f li.selected > a,
		.mobile-view #navigation-9f463169-db75-53f8-5dcc-4d5999a5c45f li.childselected > a { background-color: transparent; }.mobile-view #navigation-9f463169-db75-53f8-5dcc-4d5999a5c45f li:hover > a { color: #000000; }.mobile-view #navigation-9f463169-db75-53f8-5dcc-4d5999a5c45f li:hover > a { background-color: transparent; }.mobile-view #navigation-9f463169-db75-53f8-5dcc-4d5999a5c45f ul > li > a { color: #f3f2f0; }.mobile-view #navigation-9f463169-db75-53f8-5dcc-4d5999a5c45f ul > li > a { background-color: transparent; }